nav.faecher {
	border: 1px solid rgb(181, 181, 239);
	background-color: rgb(181, 181, 239);
	font-size: 150%;
}
nav.faecher > ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
	padding: 0;
}
nav.faecher > ul > li > a:visited, nav.faecher > ul > li > a:link, nav.sidebar > ul >li >a:visited, nav.sidebar > ul > li > a:link {
	color: rgb(49, 110, 167);
	text-decoration: none;
}
nav.faecher > ul > li > a:hover, nav.sidebar > ul > li > a:hover {
	color: rgb(227, 89, 89);
	text-decoration: underline;
}
@media (min-width: 1100px) {
	nav.faecher > ul > li > a.active {
		background-color: rgb(155, 148, 221);
		padding: 25px 5px;
	}
}
@media (max-width: 1100px) {
	nav.faecher > ul > li > a.active {
		background-color: rgb(155, 148, 221);
		padding: 15px 5px;
	}
}
nav.faecher > ul > li > a.index:hover {
	color:rgb(15, 128, 19);
}
@media (min-width: 1000px) {
	nav.sidebar {
		float: left;
		font-size: 130%;
	}
}
nav.sidebar > ul {
	border: solid 3px rgb(181, 181, 239);
	padding: 40px 40px;
	list-style: circle;
}
h1 {
	text-align: center;
	font-size: 250%;
	color: rgb(79, 134, 186);
	border: 3px solid rgb(181, 181, 239);
	padding: 10px;
	word-wrap: break-word;
}
h2 {
	text-align: center;
	color: rgb(79, 134, 186);
}
table.stundenplan > caption {
	text-align: center;
	color:rgb(161, 25, 52);
	font-size: 200%;
}
table.stundenplan {
	margin-top: 1rem;
	
}
table.stundenplan th {
	border: 1px solid;
	background-color: rgb(218, 74, 103);
	color: white;
	padding: 5px;
	text-align: left;
}
main > section.table {
	overflow-x: auto;
}
table td {
	border: 1px solid;
	padding: 5px;
}
table.indefinidoUnregelmaessig th, table.indefinido th, table.arbeiten91 th, table.arbeiten92 th {
	border: 1px solid;
	padding: 5px;
	background-color: rgb(154, 185, 213);
}
table.indefinidoUnregelmaessig, table.indefinido, table.arbeiten91, table.arbeiten92 {
	border: 1px solid;
}
mark {
	background-color: rgb(249, 170, 164);
}
section.arbeiten, section.debattieren, section.vokabeln {
	display: flex;
	gap: 2rem;
}
@media (max-width: 800px) {
	section.arbeiten, section.debattieren, section.vokabeln {
		flex-direction: column;
	}
}
section.arbeiten table, section.vokabeln table {
	width: 100%;
}
section.arbeiten table td, section.vokabeln table td {
	text-align: center;
}
section.arbeiten table td:hover {
	background-color: rgb(182, 214, 241);
}
section.debattieren div {
	border: 1px solid;
	width: 100%;
}
section.vokabeln table {
	border-collapse: collapse;
	border: 1px;
}